<html>
    <body>
        <h2> ------------- Delete user ------------- </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/deleteUser?_method=DELETE">
            <label for="">Password</label>
            <input type="password" name="password" id="">
            <br>
            <br>
            <br>
            <button type="submit"> Delete user </button>
        </form>
        <br>
        <br>
    </body>
</html>
