<html>
    <body>
        <h2> ------------- Forgot Password ------------- </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/forgotPassword">
            <label for="">Email</label>
            <input type="text" name="email" id="">
            <br>
            <br>
            <br>
            <button type="submit"> Send OTP </button>
        </form>
    </body>
</html>
