<html>
    <body>
        <h2> ------------- Get User Details ------------- </h2>
        <br>
        <br>
        <br>
        <form method="GET" action="/api/getDetails">
            <button type="submit"> GET DETAILS </button>
        </form>
        <br>
        <br>
    </body>
</html>
