<html>
    <body>
        <h1> ------------- Welcome to the  Home Page -------------  </h1>
        <br>
        <br>
        <br>
        <a href="/register"> Register  Here !! </a>
        <br>
        <br>
        <br>
        <a href="/login"> Login Here !! </a>
        <br>
        <br>
        <br>

        
    </body>
</html>
