<html>
    <body>
        <h2> ------------- Logout -------------  </h2>
        <br>
        <br>
        <br>
        <form method="GET" action="/api/logout">
            <br>
            <br>
            <br>
            <button type="submit"> Logout </button>
        </form>
        <br>
        <br>
    </body>
</html>
