<!DOCTYPE html>
<html>
<body>
  <h1>Remove Profile Picture</h1>
  <form action="/api/removeProfilePicture?_method=DELETE" method="POST" enctype="multipart/form-data">
    <button type="submit">Remove Image</button>
  </form>
</body>
</html>