<html>
    <body>
        <h2> -------------Reset Password ------------- </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/resetPassword">
            <label for=""> OTP </label>
            <input type="number" name="otp" id="">
            <br>
            <br>
            <br>
            <label for=""> _id </label>
            <input type="text" name="_id" id="">
            <br>
            <br>
            <br>
            <label for=""> New Password </label>
            <input type="password" name="newPassword" id="" >
            <br>
            <br>
            <br>
            <button type="submit"> Reset password </button>
        </form>
    </body>
</html>
