<html>
    <body>
        <h2> ------------- Update Username ------------- </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/updateUsername?_method=PUT">
             
            <label for=""> Old Username </label>
            <input type="text" name="oldUsername" id="">
            <br>
            <br>
            <br>
            <label for=""> New Username </label>
            <input type="text" name="newUsername" id="">
            <br>
            <br>
            <br>
            <button type="submit"> Update </button>
        </form>
    </body>
</html>