<html>
    <body>
        <h2> ------------- Update Email -------------  </h2>
        <br>
        <br>
        <br>
        <form method="POST" action="/api/updateEmail?_method=PUT">
             
            <label for=""> Old Email </label>
            <input type="email" name="oldEmail" id="">
            <br>
            <br>
            <br>
            <label for=""> New Email </label>
            <input type="email" name="newEmail" id="">
            <br>
            <br>
            <br>
            <button type="submit"> Update </button>
        </form>
    </body>
</html>