<!DOCTYPE html>
<html>
<body>
  <h1>Update Profile Picture</h1>
  <form action="/api/updateProfilePicture?_method=PUT" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Update Image</button>
  </form>
</body>
</html>