<html>
    <body>
        <h1> ------------- Update Your  Details Here ------------- </h1>
        <br>
        <br>
        <br>
        <a href="/updateUsername"> Update Username  </a>
        <br>
        <br>
        <br>
        <a href="/updateEmail"> Update Email </a>
        <br>
        <br>
        <br>
        <a href="/updatePassword"> Update Password </a>
        <br>
        <br>
        <br>
        
        

        
    </body>
</html>
