<html>
    <body>
        <h1> -------------Welcome to the User page------------- </h1>
        <br>
        <br>
        <br>
        <a href="/addDetails"> Add Personal Details  </a>
        <br>
        <br>
        <br>
        <a href="/addProfilePicture"> Upload Profile Image  </a>
        <br>
        <br>
        <br>
        <a href="/getUserDetails"> Get User Details </a>
        <br>
        <br>
        <br>
        <a href="/updateDetails"> Update Details </a>
        <br>
        <br>
        <br>
        <a href="/updateProfilePicture"> Update Profile Image  </a>
        <br>
        <br>
        <br>
        <a href="/logout"> Logout </a>
        <br>
        <br>
        <br>
        <a href="/removeProfilePicture"> Remove Profile Picture </a>
        <br>
        <br>
        <a href="/deleteUser"> Delete user </a>
        <br>
        <br>
        

        
    </body>
</html>
